/* Overriding react-calendar styles to make all text black */
.react-calendar,
.react-calendar__tile,
.react-calendar__navigation button,
.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__tile--active {
  color: black !important; /* Making text color black */
  font-family: 'Open Sans', sans-serif
}

.react-calendar__month-view__weekdays abbr[title],
.react-calendar__tile abbr[title] {
    text-decoration: none !important; /* Removing dotted underline from abbr elements */
}

.react-calendar__navigation button {
    font-weight: bold !important; /* Making month label bold */
    text-transform: uppercase !important; /* Converting month label to uppercase */
  }


.react-calendar__tile--active {
  background: #F0F2FA !important; /* Your desired background color for active tile */
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #F0F2FA !important; /* Your desired background color for active tile on hover/focus */
}




.rounded-l-full {
    border-top-left-radius: 0.5rem !important; /* Adjust the radius as needed */
    border-bottom-left-radius: 0.5rem !important; /* Adjust the radius as needed */
}



.bg-black {
    background-color: black !important;
}

.react-calendar__tile--rangeEnd {
    border-top-right-radius: 0.5rem !important; /* Adjust the radius as needed */
    border-bottom-right-radius: 0.5rem !important; /* Adjust the radius as needed */
}

.react-calendar__tile--rangeBegining {
    border-top-right-radius: 0.5rem !important; /* Adjust the radius as needed */
    border-bottom-right-radius: 0.5rem !important; /* Adjust the radius as needed */
}


.start-date-circle, .end-date-circle {
    position: relative !important;
}

.start-date-circle::before, .end-date-circle::before {
    content: '' !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100% !important; /* Adjust the size of the circle */
    height: 100% !important; /* Adjust the size of the circle */
    background-color: blue !important;
    border-radius: 50% !important;
    z-index: -1 !important;
}
