/* Header Start */
.navbar{
    background: #C7CBDA;
    height: 5.375rem; 
    flex-shrink: 0;
}

.logo{
    width: 11.125rem;
    height: 2rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4375rem;
    flex-shrink: 0; 
}

.logo-img{
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.logo h2{
    color: #000;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.06469rem;
    text-transform: capitalize;
}

.nav-links{
    gap: 3.75rem;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pfp{
    width: 1.4375rem;
    height: 1.4375rem;
    flex-shrink: 0; 
    border-radius: 999px;
}
/* Header End */


